body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 255, 0.4);
}

h2 {
  font-weight: bold;
  color: white;
}

.login-container {
  background-color: #011c40;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #3b7fd9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.form-group button:hover {
  background-color: #3b7fd9;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  animation: slideIn 0.5s ease-in-out;
}

.logo {
  max-width: 100%;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3587F2;
  color: white;
  padding: 10px;
}

.logo-container2 {
  display: flex;
  align-items: center; 
}

.logo {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 1.2rem;
  margin-left: 10px; 
}


.menu {
  flex: 1;
  text-align: right;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.image-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.table-container {
          margin-top: 20px;
      }

      table {
          width: 80%;
          border-collapse: collapse;
          margin: auto;
          margin-top: 20px;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      th, td {
          padding: 10px;
          border: 1px solid #ddd;
          text-align: left;
      }

      th {
          background-color: #3B7FD9;
          color: white;
      }